<!--================Home Banner Area =================-->
<section class="home_banner_area" id="home">
    <div class="banner_inner">
        <div class="container">
            <div class="row banner_content">
                <div class="col-lg-9">
                    <h2>The powerful privacy map <br />to search for Adult tourism</h2>
                    <p>Fashion-health clubs, Massages, Room salons, Gogo bars (including ladybody go go bars), LGBT scenes, etc.for a hot and secret night out.</p>
                    <div class="app_btn_area">
                        <div class="app_btn">
                            <div class="media">
                                <div class="d-flex">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    <a href="https://hot-map.oss-cn-hongkong.aliyuncs.com/app/hmap_9_v1.0.6_official.apk" target="_blank"><h4>Get it by</h4>
                                        <p>Download(Android Only)</p></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="banner_map_img">
                        <img class="img-fluid" src="img/banner/android.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->