<!--================Feature Area =================-->
<section class="screenshot_area p_120" id="screen">
    <div class="container">
        <div class="main_title">
            <h2>Unique Screenshots</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
        </div>
        <div class="screenshot_inner owl-carousel">
            <div class="item">
                <img src="img/feature/feature-1.jpg" alt="">
            </div>
            <div class="item">
                <img src="img/feature/feature-2.jpg" alt="">
            </div>
            <div class="item">
                <img src="img/feature/feature-3.jpg" alt="">
            </div>
            <div class="item">
                <img src="img/feature/feature-4.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!--================End Feature Area =================-->