<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ "/img/favicon.ico" | prepend: site.baseurl }}" type="image/png">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/vendors/linericon/style.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/vendors/owl-carousel/owl.carousel.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/vendors/lightbox/simpleLightbox.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/vendors/nice-select/css/nice-select.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/vendors/animate-css/animate.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/vendors/popup/magnific-popup.css" | prepend: site.baseurl }}">
    <!-- main css -->
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/responsive.css" | prepend: site.baseurl }}">
</head>
