<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu" id="mainNav">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h hotmap-logo" href="/"><img src="img/logo_hotmap.png" alt=""><span>HMap</span></a>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->