 <!-- Optional JavaScript -->
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="{{ "/js/jquery-3.2.1.min.js" | prepend: site.baseurl }}"></script>
 <script src="{{ "/js/popper.js" | prepend: site.baseurl }}"></script>
 <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
 <script src="{{ "/js/stellar.js" | prepend: site.baseurl }}"></script>
 <script src="{{ "/vendors/lightbox/simpleLightbox.min.js" | prepend: site.baseurl }}"></script>
 <script src="{{ "/vendors/nice-select/js/jquery.nice-select.min.js" | prepend: site.baseurl }}"></script>
 <script src="{{ "/vendors/isotope/imagesloaded.pkgd.min.js" | prepend: site.baseurl }}"></script>
 <script src="{{ "/vendors/isotope/isotope-min.js" | prepend: site.baseurl }}"></script>
 <script src="{{ "/vendors/owl-carousel/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
 <script src="{{ "/js/jquery.ajaxchimp.min.js" | prepend: site.baseurl }}"></script>
 <script src="{{ "/vendors/counter-up/jquery.waypoints.min.js" | prepend: site.baseurl }}"></script>
 <script src="{{ "/vendors/counter-up/jquery.counterup.js" | prepend: site.baseurl }}"></script>
 <script src="{{ "/js/mail-script.js" | prepend: site.baseurl }}"></script>
 <script src="{{ "/vendors/popup/jquery.magnific-popup.min.js" | prepend: site.baseurl }}"></script>
 <script src="{{ "/js/theme.js" | prepend: site.baseurl }}"></script>